<html>
    <head>

        <title>Discussion Forum</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="main.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
  
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="image.jpg" alt = "profile photo">
                    <div class="float-left"><button class="editpro">change</button></div>
                    <div class="float-right"><button class="uploadpro">upload</button></div>
                </div>
                <div class="col-8">
                <h2> {name}<h2>
                    <h2> {rating}<h2>
                    <h2> {intrest}<h2>
                </div>
            </div>
        </div>
        <div class="float-right"> <button class="editpro"> edit profile</button></div>
        <hr>
        <hr>
        <div class="groups">
            <ul class="list-group">
                <li class="list-group-item active">groups </li>
                <li class="list-group-item">groups </li>
                <li class="list-group-item">groups </li>
                <li class="list-group-item">groups </li>
                <li class="list-group-item">groups </li>
            </ul>
        </div>


    <body>
</html>
